In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gapminder_clean.csv")

In [5]:
df.head()

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
0,0,Afghanistan,1962,NaN,0.073781,21.276422,NaN,NaN,4.878051,7.450,NaN,9.349593,NaN,NaN,33.219902,14.312061,NaN,10267083.0,Asia,853.100710
1,1,Afghanistan,1967,NaN,0.123782,9.917662,NaN,NaN,6.772908,7.450,NaN,14.209827,NaN,NaN,35.389415,15.881812,NaN,11537966.0,Asia,836.197138
2,2,Afghanistan,1972,NaN,0.130820,18.880833,NaN,NaN,14.763231,7.450,NaN,18.105850,NaN,NaN,37.610146,17.947027,NaN,13079460.0,Asia,739.981106
3,3,Afghanistan,1977,NaN,0.183118,13.836822,NaN,NaN,11.662904,7.449,NaN,14.823175,NaN,NaN,40.110146,19.998926,NaN,14880372.0,Asia,786.113360
4,4,Afghanistan,1982,NaN,0.165879,NaN,NaN,NaN,NaN,7.450,NaN,NaN,NaN,NaN,43.230732,19.402324,NaN,12881816.0,Asia,978.011439

### checking for the NA values

In [6]:
def count_na(datafrme,col_names):
    count = {}
    for i in col_names:
        value = df[i].isna().sum()
        count[i]= value
    dataframe = pd.DataFrame([count])
    return dataframe

In [7]:
count_na(df,df.columns)

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
0,0,0,0,1179,414,864,1238,1197,798,184,691,798,1189,706,189,49,1186,1323,1323,1323

### check for duplicates

In [8]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2607 entries, 0 to 2606
Data columns (total 20 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Unnamed: 0                                               2607 non-null   int64
 1   Country Name                                             2607 non-null   object
 2   Year                                                     2607 non-null   int64
 3   Agriculture, value added (% of GDP)                      1428 non-null   float64
 4   CO2 emissions (metric tons per capita)                   2193 non-null   float64
 5   Domestic credit provided by financial sector (% of GDP)  1743 non-null   float64
 6   Electric power consumption (kWh per capita)              1369 non-null   float64
 7   Energy use (kg of oil equivalent per capita)             1410 non-null   float64
 8   Exports of goods and services (% of GDP)                 1809 non-null   float64
 9   Fertility rate, total (births per woman)                 2423 non-null   float64
 10  GDP growth (annual %)                                    1916 non-null   float64
 11  Imports of goods and services (% of GDP)                 1809 non-null   float64
 12  Industry, value added (% of GDP)                         1418 non-null   float64
 13  Inflation, GDP deflator (annual %)                       1901 non-null   float64
 14  Life expectancy at birth, total (years)                  2418 non-null   float64
 15  Population density (people per sq. km of land area)      2558 non-null   float64
 16  Services, etc., value added (% of GDP)                   1421 non-null   float64
 17  pop                                                      1284 non-null   float64
 18  continent                                                1284 non-null   object
 19  gdpPercap                                                1284 non-null   float64
dtypes: float64(16), int64(2), object(2)
memory usage: 407.5+ KB

### filter the rows where year is 1962

In [14]:
df["Year"].value_counts()

Year
2007    263
2002    263
1992    263
1997    262
1982    260
1987    260
1967    259
1962    259
1972    259
1977    259
Name: count, dtype: int64

In [15]:
df_filtered =df[df["Year"]==1962]

### scatter plot comapring co2 emmissions and gdpPercap --> with filtered data

### calcluing the corelation of co2 emission and gdpPercap --> corealtion associated with p value   in filtered data

### unfilted dat a-> find which year has the strongest correlation  between  co2 emissions and gdpPercap is strongest

### scatter plot using plotly camparing co2emmision with gdpPerCap where point size determined by pop (population) and color is determined by continent

### realationship between continent and Energyuse

### find there a significant difference between Europe and Asia withrespect to imports of goods and services

### find the country that has the highest population density accross all years.(i.e which country has the highst average ranking in this category across each time point in the dataset )

### what country (or countries) has shown the greatest increase in Life expectancy at birth, total(year) between 1962 and 2007